extends layout.jade

block content 
    section.container
        include header.jade
        div.item
            form.form(method="POST" action="/")
                fieldset
                    div
                        label.item.i-b.v-top.ph3.p_25.rigth(for="movie_id") IMOB Id:
                        input.item.i-b.v-top.ph9.p_25#movie_id(type="text", name="movie_id", required)
                    div
                        label.item.i-b.v-top.ph3.p_25.rigth(for="title") Titulo:
                        input.item.i-b.v-top.ph9.p_25#title(type="text", name="title", required)
                    div
                        label.item.i-b.v-top.ph3.p_25.rigth(for="release_year") Año
                        input.item.i-b.v-top.ph9.p_25#release_year(type="text", name="release_year", required)
                    div
                        label.item.i-b.v-top.ph3.p_25.rigth(for="rating") Calificación
                        input.item.i-b.v-top.ph9.p_25#rating(type="text", name="rating", required)
                    div
                        label.item.i-b.v-top.ph3.p_25.rigth(for="image") Poster:
                        input.item.i-b.v-top.ph9.p_25#image(type="text", name="image", required)
                    div                         
                        input.item.ph4.mauto.button.add(type="submit", value="Agregar")



     